<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
	{% block style %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<header>
		<a class="logo" href="/">
			<img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo">
			<span>Eventpix</span>
		</a>
	</header>
	<main>
		{% block content %}{% endblock %}
	</main>
	<a class="button questionnaire" href="https://docs.google.com/forms/d/e/1FAIpQLSf9CuAyhApMMmuJtSeMx-TVlEao0405BnO3eF5SspxCTR6lQQ/viewform?usp=sf_link" target="blank">フィードバックにご協力お願いします<span class="new-tab"></span></a>
	<footer>&copy; 2024 Eventpix All rights reserved</footer>
	{% block script %}{% endblock %}
</body>
</html>
