<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/static/image/Logo.png">
	<link rel="stylesheet" href="/static/css/index.css">
	<title>Eventpix</title>
</head>
<body>
	<header>
		<a class="logo" href="/">
			<img src="/static/image/logo.svg" alt="Logo">
			<span>Eventpix</span>
		</a>
	</header>
	<main>
		<section>
			<h1>画像の予定抽出</h1>
			<p>スケジュールの写真からカレンダー情報を抽出します<br/>抽出した情報はカレンダーアプリに反映できます</p>
			<form id="image-form" action="upload" method="POST" enctype="multipart/form-data">
				<label id="file-button-label" for="file-button">画像を選択</label>
				<input id="file-button" type="file" name="image">
			</form>
			<p class="small">または，ここに画像をドラッグ＆ドロップしてください</p>
		</section>
	</main>
	<script src="/static/js/main.js"></script>
</body>
</html>