{% extends './base.html' %}

{% block title %}TOP : Eventpix{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}

{% block content %}
	<div id="js-loading-modal" class="loading-modal hidden" >
		<div class="loding">Now Loading<span id="js-dots" class="dots">...</span></div>
		<p class="explain">画像から予定を抽出しています．<br/>この処理には約15秒かかリます．</p>
	</div>
	<section>
		<h1>画像から予定抽出</h1>
		<p>スケジュールの写真からカレンダー情報を抽出します<br/>抽出した情報はカレンダーアプリに反映できます</p>
		<form id="js-form" action="upload" method="POST" enctype="multipart/form-data">
			<label id="file-button-label" class="button" for="file-button">画像を選択</label>
			<input id="file-button" type="file" name="image" onchange="submitForm()">
		</form>
		<p class="small only-pc">または，ここに画像をドラッグ＆ドロップしてください</p>
	</section>
{% endblock %}

{% block script %}
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
