<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/static/image/Logo.png">
	<link rel="stylesheet" href="/static/css/index.css">
	<title>Eventpix</title>
</head>
<body>
	<header>
		<a class="logo" href="/">
			<img src="/static/image/logo.svg" alt="Logo">
			<span>Eventpix</span>
		</a>
	</header>
	<main>
		<section>
			<h1>抽出結果</h1>
			<table>
				<tr>
					<th>概要</th>
					<th>開始</th>
					<th>終了</th>
					<th>詳細</th>
					<th>場所</th>
				</tr>
				{% for event in events %}
					<tr>
						<td>{{event.SUMMARY}}</td>
						<td>{{event.DTSTART.dt}}</td>
						<td>{{event.DTEND.dt}}</td>
						<td>{{event.DESCRIPTION}}</td>
						<td>{{event.LOCATION}}</td>
					</tr>
				{% endfor %}
			</table>
		</section>
	</main>
	<script src="/static/js/main.js"></script>
</body>
</html>
