{% extends './base.html' %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
{% endblock %}

{% block title %}Result : Eventpix{% endblock %}

{% block content %}
	<main>
		<section>
			<h1>抽出結果</h1>
			<table>
				<tr>
					<th>概要</th>
					<th>開始</th>
					<th>終了</th>
					<th>詳細</th>
					<th>場所</th>
				</tr>
				{% for event in events %}
					<tr>
						<td>{{ event.summary }}</td>
						<td>{{ time_convert(event.dtstart.dt) }}</td>
						<td>{{ time_convert(event.dtend.dt) }}</td>
						<td>{{ event.description }}</td>
						<td>{{ event.location }}</td>
					</tr>
				{% endfor %}
			</table>
		</section>
	</main>
{% endblock %}
